<div>
     <h2> About Patrick</h2>
     <div id="aboutme">
          <h3>Me:</h3>
          
          <div id="skillsandprograms">
               <h3>Skills and programs:</h3>
               <div id="skills">
                    <h4> Skills:</h4>
                    <ul>
                         <li>C++ <span class="hiddenText">- 2 years experience, used with opengl</span></li>
                         <li>C# <span class="hiddenText">- 3years experience, used with unity and sdl</span></li>
                         <li>Python <span class="hiddenText">-1 year eperience, used as scripting language</span> </li>
                         <li>Haxe/actionscript <span class="hiddenText">-4 year experience, used for browser and mobile games</span></li>
                         <li>Html and Less <span class="hiddenText">- 1 year experience, used for hobby websites</span> </li>
                    </ul>
               </div>
               <div id="programs">
               <h4>Programs:</h4>
               <ul>
                    <li>Vim <span class="hiddenText">- IDE</span></li>
                    <li>geany <span class="hiddenText">- copy pasting</span></li>
                    <li>make <span class="hiddenText">- build system</span></li>
                    <li>git <span class="hiddenText">- version control</span></li>
                    <li>firefox <span class="hiddenText">- web development</span></li>
               </ul>
               </div>
          </div>     
          <h3>Inspirations:</h3>
          <ul>
               <li>Telltale Games</li>
               <li>Awesomenauts</li>
               <li>Shadow of the collosus</li>
          </ul>
          

     <div id="images">
          //images
     </div>
</div>

<h2> Contact</h2>
<div>
<p>
     Patrick de Jong<br>
     Weigeliastraat 4<br>
     Maarheeze 6026 BK<br>
     The Netherlands<br>
     <br>
     @: <a href="mailto:rykounanba@hotmail.com">rykounanba@hotmail.com</a><br>
     T: +031 681980480<br>
     C.V.: download 
</p>
</div>
<div>
     <h2> Socials</h2>
     <a href="https://www.facebook.com/rykou.nanba" target="_blank"><img src="icons/facebook.png" alt="facebook" class="socials-icon">facebook.com/rykou.nanba</a><br>
     <a href="https://twitter.com/rykounanba" target="_blank"><img src="icons/twitter.png" alt="twitter" class="socials-icon">@rykounanba</a><br>
     <a href="https://nl.linkedin.com/pub/patrick-de-jong/97/a67/896" target="_blank"><img src="icons/linkedin.png" alt="linkedin" class="socials-icon">Patrick de Jong</a><br>
</div>
