/* colors */
@color-beige: #f5f5dc;
@color-green: #92B192;
@color-dark-green: #92A292;
@margin-from-top: 5%;
@li-transition-time: 400ms;
@icon-size: 50px;

.transition(@transition){
     -webkit-transition: @transition;
     -moz-transition: @transition;
     -ms-transition: @transition;
     -o-transition: @transition;
     transition: @transition;
}

.animation(@name, @duration: 500ms, @delay: 0, @ease: ease){
     -webkit-animation: @name @duration @delay @ease;
     -moz-animation: @name @duration @delay @ease;
     -ms-animation: @name @duration @delay @ease;
     animation: @name @duration @delay @ease;
}

.box-shadow(@box-shadow){
     -webkit-box-shadow: @box-shadow;
     -moz-box-shadow: @box-shadow;
     -ms-box-shadow: @box-shadow;
     -o-box-shadow: @box-shadow;
}

.selectable(@option){
     -webkit-touch-callout: @option;
     -webkit-user-select: @option;
     -khtml-user-select: @option;
     -moz-user-select: @option;
     -ms-user-select: @option;
     user-select: @option;
}

.center(){
     margin-left: auto;
     margin-right: auto;
}

.socials-icon{
     position:relative;
     display: inline;
     width: @icon-size;
     height: @icon-size;
     top: 25px;
}

#aboutme{
     width: 49%;
     border: 2px solid green;
}

#images{
     border: 2px solid blue;
     width: 49%;
}

#skillsandprograms{
     border: 2px solid red;
     width: 90%;
     height: 300px;;
}

#skills{
     display:block;
     float: left;
     width: 50%;
     li{

     }
}

#programs{
     display: block;
     float: right;
     width: 50%;
     li{
          color: @color-green;
     }

     li:hover{
          color: @color-green;
          background-color: none;
          .box-shadow(none);
     }
}

.hiddenText{
     font-size:11px;
     color: grey;
     .selectable(none);
}

.menu{
     list-style-type: none;

     li{
          background-color: @color-beige;
          a:link{
               color: @color-green;
               text-decoration: none;
          }

          a:visited{
               color: @color-dark-green;
          }

          text-shadow:2px 2px white;
     }

     li:hover{
          background-color: white;

          .transition(background-color @li-transition-time ease);
          text-shadow: 2px 2px grey;
     }
}

html{
     background: @color-beige;
     color: @color-green;
     overflow-x: hidden;
     body{
          a{
               color: @color-green;
          }
          div{
               h2{
                    border-bottom: 2px solid white;
               }

               h3{
                    border-bottom: 1px dotted white;
               }
          }
     }
}

.selectedMenu{
     color: #9292A1;
}

#menu{
     position:relative;
     display:block;
     border-right: 2px solid white;
     margin-top: @margin-from-top;
     width: 12%;
     float: left;
}

#content{
     position: relative;
     display: block;
     border: 2px solid black;
     margin-top: @margin-from-top;
     width: 80%;
     height: 80%;
     float: right;
     margin-right:2.5%;
}

.slideIn{
     position: relative;
     display: block;
     right: -1700px;
          
     .animation(slideIn, 2s, 0.2s, forwards);
}


@-webkit-keyframes slideIn{
     100% { 
          right: 0px;
     }
}

@-moz-keyframes slideIn{
     100% { 
          right: 0px;
      }
}

@-ms-keyframes slideIn{
     100% {
          right: 0px;
     }
}

@keyframes slideIn{
     100% {
          right: 0px;
     }
}
