<div class="reveal">
    <div class="slides">
        <section>
            <h1> Code Showcase </h1>
			    <ul>
					<li><a href="#/ObjectPooling">Object pooling</a></li>
					<li><a href="#/opengl">Opengl Projects</a></li>
					<li><a href="#/ncurses">Ebook manager</a></li>
				</ul>
        </section>
        <section>
			<section id="ObjectPooling">
                <h3> Object pooling </h3>
                    <ul>
    	                <li>Language: c#</li>
                        <li>Platform: .net</li>
                        <li>Why?</li>
                        <li>How does it work?</li>
                        <li>Source code</li>
		            </ul>
            </section>
                    
            <section>
	           <h2> Why? </h2>
                    <p>
	                         We use it to create more stable memory in garbage collected enviroments. By having a premade group of objects we can reuse objects in runtime. When one of these objects moment to die comes, instead of destroying it we send it back to our premade group.
	                         This way we can give it a new life when another object of the same type would be made. Instead of making the garbage collector remove all these dying entities we are simple making them reincarnate and spare it the trouble.
                    </p>
			</section>
            <section>
				<h2> How does it work? </h2>
		            <p>
		                 The system works with 3 core Components:
                         <ul>
		                     <li>The pool</li>
                             <li>The Pool Manager</li>
                             <li>The Ipoolable interface</li>
                         </ul>
		            </p>
			</section>
			<section>
				<h2> The pool </h2>
	                <p>
	                    The pool is a class that groups one specific type of objects. It manages the amount of objects, returns the requested objects and keeps track of pooling information.
	                    This way we can keep track of the amount of active objects and inactive objects. Also we can make it control dynamic increasing of the pool.
	                </p>
			</section>
            <section>
			     <pre><code id="csharpcode" class="csharp" data-trim>
using System;
using System.Collections.Generic;
using System.Linq;

namespace Elysia
{
     public class Pool&ltT&gt : Elysia.IPool
     {
          //list of objects in the pool;
          private Ilist _objecten;
          public Ilist objecten{
               get{return _objecten;}
               set{ _objecten = value;}
          }
          //number of objects within pool
          private uint _size;
          public uint size{
               get{ return _size;}
               set{ _size = value;}
          }
          //number of active objects within pool
          private int _active;
          public int active{
               get{ return _active;}
               set{ _active = value;}
          }
          //specify if the pool can dynamically grow
          private bool _isDynamic;
          public bool isDynamic{
               get{ return _isDynamic; }
               set{ _isDynamic = value;}
          }

          public Pool (uint _size, bool isDynamic)
          {
               this.size = _size;
               this._isDynamic = isDynamic;
               this.active = 3;
               this.fillPool ();
          }
                </code></pre> 
            </section>
            <section>
                <h2>The Pool Manager</h2>
                <p></p>
            </section>
            <section>
                <pre><code class="csharp">
using System;
using System.IO;
using System.Collections.Generic;
using System.Linq;

namespace Elysia
{

    public class PoolManager
    {

        private List &ltstring&gt scriptNames;
        private static Dictionary &ltstring, IPool&gt PoolHolder;

        public PoolManager ()
        {
            //initialize
            PoolHolder = new Dictionary &ltstring, IPool&gt ();
        }

        private void enumerateScripts(){
            //Enumerating script files into a list
            scriptNames = new List &ltstring&gt ();
            IEnumerable &ltString&gt namesHolder;
            namesHolder = System.IO.Directory.EnumerateFiles (@"C:\Users\Patrick\Documents\sdfsdf\sdfsdf");
            foreach (string item in namesHolder) {
                if (item.EndsWith (".cs")) {
                    Console.WriteLine (item);
                    scriptNames.Add (item);
                }
            }
            this.poolScripts ();
        }

        private void poolScripts(){
            //Preparing all scripts to get pooled.
            StreamReader reader;
            List &ltstring&gt namespaces = new List &ltstring&gt ();
            foreach (string script in scriptNames) {
                try{
                    reader = new StreamReader (script);
                    bool namespaceFound = true;
                    //checking the namespace.
                    while (namespaceFound) {
                        string line = reader.ReadLine ();
                        if (line.StartsWith ("namespace") == true) {
                            string[] splits = line.Split (' ');
                            namespaces.Add(splits[1]);
                            namespaceFound = false;
                        }
                    }
                } catch(Exception e){
                    Console.WriteLine (e);
                }
            }


        }

        public static void createPool &ltt&gt(uint size, bool isDynamic) where t:IPoolable {
            //Creation of the pool
            string qualifiedName = typeof(t).Name;
            //checking if the given type already has a pool or not.
            if (PoolHolder.ContainsKey (qualifiedName) != true) {
                //creating a pool and storing it in the pool holder.
                PoolHolder [qualifiedName] = new Pool &ltt&gt (size, isDynamic);
            } else {
                Console.WriteLine ("The given class name already exists, therefore the Poolmanager did not make another pool");
            }
        }

        public static IPoolable getInstance &ltt&gt() where t:IPoolable{
            //return an instance from the specified pool.
            string qualifiedName = typeof(t).Name;
            IPoolable returnObject;
            
            //check if the pool exists
            if (PoolHolder.ContainsKey (qualifiedName) == true) {
                if (PoolHolder [qualifiedName].active == PoolHolder [qualifiedName].size) {
                    // Check if the pool is dynamic
                    if (PoolHolder [qualifiedName].isDynamic == true) {
                        // enlarge poolsize and return
                        PoolHolder [qualifiedName].size ++;
                        returnObject = (t)Activator.CreateInstance (typeof(t), new Object[] { });
                            //creates an instance by type.
                            //DOC: http://msdn.microsoft.com/en-us/library/vstudio/system.activator.createinstance
                        PoolHolder[qualifiedName].objecten.Add(returnObject);
                            //adding to the array of the pool
                    } else {
                        Console.WriteLine ("pool is not dynamic and already full");
                        return null;
                    }
                } else {
                    returnObject = (IPoolable)PoolHolder [qualifiedName].objecten.getValue(PoolHolder[qualifiedName].active);
                    //returning a non active entry in the holding pool.
                }

                PoolHolder[qualifiedName].active ++;
                returnObject.Init();
                //initialize the object.
            } else {
                Console.WriteLine ("There does not exist a pool for the given class");
                return null;
            }


            return returnObject;

        }

        public static void returnInstance &ltt&gt(IPoolable hetObject) where t:IPoolable{
            //return an instance to the pool.
            string qualifiedName = typeof(t).Name;
            //getting the pool name
            if (PoolHolder.ContainsKey (qualifiedName)) {
                hetObject.Erase ();
                PoolHolder [qualifiedName].active --;
            }
        }
    }
} 
                    </code></pre>
            </section>
            <section>
                <h2>Ipoolable & Ipool</h2>
                <p></p>
            </section>
            <section>
                <pre><code class="csharp">
using System;
using System.Collections.Generic;

namespace Elysia
{
    public interface IPool{
        bool isDynamic {
            get;
            set;
        }
        uint size {
            get;
            set;
        }
        int active {
            get;
            set;
        }
        Ilist objecten {
            get;
            set;
        }
    }

    public interface IPoolable{
        void Init ();
        void Erase();
    }
}
                </code></pre>
            </section>
        </section>
    </div>
</div>
<script>
				Reveal.initialize({
				    dependencies: [
				        { src: 'scripts/reveal.js-3.1.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlighting(); } }
				    ]
				});
</script>
