/** STEP STYLES **/
.step {
	width: 900px;
	height: 400px;
	font-size: 1em;
	min-height: 500px;

	display: block;
	padding: 40px 60px;

	border-radius: 5px;
	border-right: 2px solid #86C543;
	border-left: 2px solid #86C543;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;

	-webkit-transition: opacity 2s;
	-moz-transition:    opacity 2s;
	-ms-transition:     opacity 2s;
	-o-transition:      opacity 2s;
	transition:         opacity 2s;
}

/* fade out inactive slides */
.step:not(.active) {
	opacity: 0;
}

.step-home{
	opacity: 1;

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
	transition:         opacity 1s 5s,         transform 0.5s;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
}