@font-face{
	font-family: "source code pro";
	src: url('SourceSansPro-Regular.ttf');
}

@font-face{
	font-family: "averia serif";
	src: url('AveriaSerif-Regular.ttf');
}

html{
	height: 100%;
	width: 100%;
}

body{
	background-color: #EDEAE3;
	height: inherit;
}

#header{
	border-radius: 5px;
	position: relative;
	background: #34302D;
	border: 2px solid;
	display:block;
	width: 80%;
	margin-left: 10%;
	font-family: "source code pro";
}

#header h1{
	color: #86C543;
	padding: 0px 20px;
}

#header h3{
	display: block;
	color: #EDEAE3;
	text-align: right;
	padding-right: 10px;
}

#menu{
	position: relative;
	display:block;
	width: 60%;
	height: 60px;
	margin-left: 20%;
	margin-top: 0.5%;
	font-family: "source code pro";
}

#content{
	position: relative;
	display: block;
	width: 70%;
	height: 70%;
	margin-top: 10%;
	margin-left: 15%;
}

#menu ul{
	position: relative;
	display:block;
	list-style: none;
	width: 40%;
	margin-left: 30%;
	border-top: 2px solid;
}

#menu li{
	position: relative;
	display: list-item;
	float: left;
	padding: 20px;
}

#menu ul li:hover{
	border-top: 2px solid #86C543;
		transition: transform 0.2s;
		transform: translateY(5px);
	cursor: pointer;gt
}

#menu ul li:active{
	border-top: 2px solid #86C543;
		transition: transform 0.2s;
		transform: translateY(5px);
	cursor: pointer;
}

#menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 0.9em;
}

#footer{
	border-radius: 5px;
	border: 2px solid;
	border-bottom: none;
	background: #34302D;
	position: relative;
	display: block;
	width: 80%;
	height: 27%;
	margin-top: 3%;
	margin-left: 10%;
}

#footer h2{
	color: #86C543;
}

#active-repos{
	position: relative;
	display: block;
	float: left;
	width: 30%;
	height: 80%;
	margin-top: 2%;
	margin-left: 3%;
}

#socials{
	position: relative;
	display: block;
	float: left;
	width: 30%;
	height: 80%;
	margin-top: 2%;
	margin-left: 4%;
}

#contact{
	position: relative;
	display: block;
	float: right;
	width: 30%;
	height: 80%;
	margin-top: 2%;
	margin-right: 0%;
}

#footer h3{
	color: #86C543;
		font-family: "source code pro";
	font-size: 1.30em;
}

#footer p{
	color: #EDEAE3;
	padding: 0px 14px 0px;
	font-family: "source code pro";
}

#footer ul p{
	color: #FFFFFF;
	margin-top: -11%;
	padding: 0px 60px 0px;
}

#footer ul{
	list-style: none;
	padding: 0px 7px 0px;
}



#copyright{
	border-radius: 5px;
	border: 2px solid;
	border-top: none;
	position: relative;
	display: block;
	height: 5%;
	width: 80%;
	margin-left: 10%;
	float: left;
	background-color: #756D66;
}

#copyright p{
	text-align: center;
}

a{
	color: white
}

#content{
	border: 2px solid red;
	margin-top: 0%;
}

#RepoPress{
	border: 2px solid blue;
}

#aboutme{
	border: 2px solid;
	width: 40%;
	display: block;
	position: relative;
	margin-left: 3%;
	float: left;
}

#pictures{
	border: 2px solid;
	width: 40%;
	display: block;
	position: relative;
	margin-left: 3%;
	margin-right: 3%;
	float:left;
}

.polaroid{
	display: inline;
	position: relative;
	width: 200px;
	background: white;
	float: left;
	padding: 10px;
	padding-bottom: 30px;
	border: 1px solid;
	margin: -3%;
}

ul li:nth-child(2n){
	-webkit-transform: rotate(3deg);  
	-moz-transform: rotate(3deg); 
	transform: rotate(3deg);
}

ul li:hover{
		-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	z-index:10;
}

ul li:nth-child(3n){
	-webkit-transform: rotate(-3deg);  
	-moz-transform: rotate(-3deg); 
	transform: rotate(-3deg);
}

ul {
	list-style-type: none;
}
