/* colors */
@color-beige: #f5f5dc;
@color-green: #92B192;
@color-dark-green: #92A292;
@margin-from-top: 5%;
@li-transition-time: 400ms;

@link-colors: #78C5D6, #459BA8, #79C267, #C5D647, #F5D63D, #F28C33, #E868A2, #BF62A6;
@link-colors-length: length(@link-colors);

.transition(@transition){
     -webkit-transition: @transition;
     -moz-transition: @transition;
     -ms-transition: @transition;
     -o-transition: @transition;
     transition: @transition;
}

.animation(@name, @duration: 500ms, @delay: 0, @ease: ease){
     -webkit-animation: @name @duration @delay @ease;
     -moz-animation: @name @duration @delay @ease;
     -ms-animation: @name @duration @delay @ease;
     animation: @name @duration @delay @ease;
}

.box-shadow(@box-shadow){
     -webkit-box-shadow: @box-shadow;
     -moz-box-shadow: @box-shadow;
     -ms-box-shadow: @box-shadow;
     -o-box-shadow: @box-shadow;
}

html{
     background: @color-beige;
     color: @color-green;
     overflow-x: hidden;
     body{
         h1{
               text-align: center;
               padding-top: 100px;
         }

          ul{
               list-style-type: none;
              
               .link-color-needed(@colors; @index) when 
                    (iscolor(extract( @colors, @index))) and ( @index > 0 ){
                    .link-color-needed(@colors; (@index - 1)); //decrement

                    @color : extract(@colors, @index);
    
                    li:nth-child(@{index}) a:hover{
                         color:@color;
                    }
               }

               .link-color-needed(@link-colors;@link-colors-length);

               li{
                    background-color: @color-beige;
                    a:link{
                         color: @color-green;
                         text-decoration: none;
                    }

                    a:visited{
                         color: @color-dark-green;
                    }

                    text-shadow: 2px 2px white;
               }
              
               li:hover{
                    background-color:white;

                    .transition(background-color @li-transition-time ease);
                    text-shadow: 2px 2px grey;
               }
          }

          input[type=text]{
               display:block;
               margin-top: 5px;
               width: 200px;
               font-family: sans-serif;
               font-size: 18px;
               appearance: none;
               border-radius: none;
               padding: 10px;
               border: solid 5px @color-green;
               float: right;

              .box-shadow(inset 0 0 0 1px @color-dark-green);
              .transition(box-shadow 0.3s);
              .transition(border 0.3s); 
          }

          input[type=text]:focus{
               border: solid 5px @color-dark-green;
          }
     }
}

.selectedMenu{
     color: #9292A1;
}

#menu{
     position:relative;
     display:block;
     border-right: 2px solid white;
     margin-left: 35%;
     margin-top: @margin-from-top;
     width: 12%;
     float: left;
}

#submenu{
     position:relative;
     display:block;
     float: left;
     margin-top: @margin-from-top;

     li{
          margin-top: -5%;
     }
}

#searchbar{
     position: relative;
     display: block;
     margin-top: 2%;
     width: 270px;
     height: 80px;
     margin-left: auto;
     margin-right: auto;

     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

#searchicon{
     position: relative;
     display:block;
     font-size: 22px;
     width: 30px;
     float: left;
     padding-bottom: 2px;
     border-radius: 0 5px 5px 0;
     top: -4px;
     color: @color-beige;
     background-color: @color-green;
}

#searchicon:hover{
     cursor: default;
}

.loop(@index) when(@index =< 5){
     .slideIn:nth-child(@{index}){
          position: relative;
          display: block;
          right: -1000px;
          
          .animation(slideIn, 2s, unit(@index * 0.5, s), forwards);
     }

    .loop(@index + 1); 
}

.loop(0);

@-webkit-keyframes slideIn{
     100% { 
          right: -50px;
     }
}

@-moz-keyframes slideIn{
     100% { 
          right: -50px;
      }
}

@-ms-keyframes slideIn{
     100% {
          right: -50px;
     }
}

@keyframes slideIn{
     100% {
          right: -50px;
     }
}
