/* colors */
.socials-icon {
  position: relative;
  display: inline;
  width: 50px;
  height: 50px;
  top: 25px;
}
#aboutme {
  width: 49%;
  border: 2px solid green;
}
#images {
  border: 2px solid blue;
  width: 49%;
}
#skillsandprograms {
  border: 2px solid red;
  width: 90%;
  height: 300px;
}
#skills {
  display: block;
  float: left;
  width: 50%;
}
#programs {
  display: block;
  float: right;
  width: 50%;
}
#programs li {
  color: #92b192;
}
#programs li:hover {
  color: #92b192;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.hiddenText {
  font-size: 11px;
  color: grey;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu {
  list-style-type: none;
}
.menu li {
  background-color: #f5f5dc;
  text-shadow: 2px 2px white;
}
.menu li a:link {
  color: #92b192;
  text-decoration: none;
}
.menu li a:visited {
  color: #92a292;
}
.menu li:hover {
  background-color: white;
  -webkit-transition: background-color 400ms ease;
  -moz-transition: background-color 400ms ease;
  -ms-transition: background-color 400ms ease;
  -o-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  text-shadow: 2px 2px grey;
}
html {
  background: #f5f5dc;
  color: #92b192;
  overflow-x: hidden;
}
html body a {
  color: #92b192;
}
html body div h2 {
  border-bottom: 2px solid white;
}
html body div h3 {
  border-bottom: 1px dotted white;
}
.selectedMenu {
  color: #9292A1;
}
#menu {
  position: relative;
  display: block;
  border-right: 2px solid white;
  margin-top: 5%;
  width: 12%;
  float: left;
}
#content {
  position: relative;
  display: block;
  border: 2px solid black;
  margin-top: 5%;
  width: 80%;
  height: 80%;
  float: right;
  margin-right: 2.5%;
}
.slideIn {
  position: relative;
  display: block;
  right: -1700px;
  -webkit-animation: slideIn 2s 0.2s forwards;
  -moz-animation: slideIn 2s 0.2s forwards;
  -ms-animation: slideIn 2s 0.2s forwards;
  animation: slideIn 2s 0.2s forwards;
}
@-webkit-keyframes slideIn {
  100% {
    right: 0px;
  }
}
@-moz-keyframes slideIn {
  100% {
    right: 0px;
  }
}
@-ms-keyframes slideIn {
  100% {
    right: 0px;
  }
}
@keyframes slideIn {
  100% {
    right: 0px;
  }
}
